*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    height: 50px;
    background-color: rgb(140, 155, 161);
    line-height: 50px;
    color: white;

    p{
        font-size:20px;
        padding-left:50px;
    }
}

.addtask{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;

    &-button{
        height: 38px;
    }
}


.show{
    
    display :flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    margin: auto;
       
}
@media screen and (max-width: 1100px){
    .show{
        width:90%;
        margin:auto;
        align-items:center;
        // flex-direction: column;
    }
    .addtask{
        margin: 50px 10px;
    }
    #input{
        width:105px;
        
        // padding:10px 2px;
    }
    #text{
        width:180px;
        // height: 48px;
    }
    #card{
        width: 200px;
    }
}

@media screen and (max-width: 680px){
    .show{
        // flex-direction
        flex-direction: column;
        color:red;
        // margin:20px 0px;
        overflow: 'scrol';
    }
    #text{
        width:150px;
        // height: 48px;
    }
    #input{
        // font-size: 8px;
        width:105px;
    }
    #card{
        width: 260px;
    }

}
